<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    {% block head-title %}
        <title>刘飞个人站点</title>
    {% endblock %}

    <!--    Bootstrap核心css文件-->
    <link rel="stylesheet" href="/static/bootstrap-4.4.1-dist/css/bootstrap.min.css">
    <!--    字体图标文件-->
    <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.css">
    {% block head-zdy %}
        <!--    自定义样式文件-->
        <link rel="stylesheet" href="/static/css/base.css">
    {% endblock %}
</head>
<body class="container-fluid">
{#    导航栏设置#}
{% block daohang %}
    {% include 'daohang.html' %}
{% endblock %}
{#主体内容#}
<h6 class="list"></h6>
<div class="row clearfix">
    {#    左侧内容#}
    <div class="col-12 col-lg-3 left mt-3">
        {% block left %}
            {% include 'left.html' %}
        {% endblock %}
    </div>
    {#中间部分#}
    <div class="col-12 col-lg-6 right mt-3">
        {% block center %}
            {# 轮播图 #}
            {% block lunbo %}
                <div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel">
                    {# 表示图标 #}
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleControls" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleControls" data-slide-to="1"></li>
                        <li data-target="#carouselExampleControls" data-slide-to="2"></li>
                    </ol>
                    {# 幻灯片 #}
                    <div class="carousel-inner max-h">
                        <div class="carousel-item active">
                            <img src="/static/image/lb01.jpg" class="d-block w-100" alt="...">
                            <div class="carousel-caption">
                                <p><a href="javascript:;" class="text-white">说明文字</a></p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="/static/image/lb02.jpeg" class="d-block w-100" alt="...">
                            <div class="carousel-caption">
                                <p><a href="javascript:;" class="text-white">说明文字</a></p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="/static/image/lb03.jpg" class="d-block w-100" alt="...">
                            <div class="carousel-caption">
                                <p><a href="javascript:;" class="text-white">说明文字</a></p>
                            </div>
                        </div>
                    </div>
                    {# 空值按钮 #}
                    <a href="#carouselExampleControls" class="carousel-control-prev" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a href="#carouselExampleControls" class="carousel-control-next" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
            {% endblock %}
            {# 热门文章 #}
            {% block remen %}
                <h6 class="mt-2 font-italic font-weight-bolder">热门文章&nbsp;&nbsp;<span
                        class="fa fa-fire text-danger"></span></h6>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-action">
                        <span class="mr-3 text-primary font-italic font-weight-bolder">1</span><a href="javascript:;"
                                                                                                  class="font-weight-bold font-italic">标题一</a>
                    </li>
                    <li class="list-group-item list-group-item-action">
                        <span class="mr-3 text-primary font-italic font-weight-bolder">2</span><a href="javascript:;"
                                                                                                  class="font-weight-bold font-italic">标题二</a>
                    </li>
                    <li class="list-group-item list-group-item-action">
                        <span class="mr-3 text-primary font-italic font-weight-bolder">3</span><a href="javascript:;"
                                                                                                  class="font-weight-bold font-italic">标题三</a>
                    </li>
                    <li class="list-group-item list-group-item-action">
                        <span class="mr-3 text-primary font-italic font-weight-bolder">4</span><a href="javascript:;"
                                                                                                  class="font-weight-bold font-italic">标题四</a>
                    </li>

                </ul>
            {% endblock %}
            {# 文章列表 #}
            {% block center_list %}
                <h6 class="mt-4 font-italic font-weight-bolder">最新文章&nbsp;&nbsp;<span
                        class="fa fa-fire text-primary"></span></h6>
                <hr>
                <ul class="list-unstyled mt-3">
                    <li class="media mb-4 border-bottom">
                        <img width="100"
                             src="/static/image/libai.jpg"
                             alt="" class="mr-3">
                        <div class="media-body">
                            <h6 class="mt-0 mb-2"><a href="javascript:;" class="font-weight-bold title"><i
                                    class="fa fa-hand-o-right" aria-hidden="true"></i>&nbsp;唐代诗人：李白</a></h6>
                            <p><a href="javascript:;" class="text-dark">李白诗歌的语言，有的清新如同口语，有的豪放，不拘声律，近于散文，但都统一在“清水出芙蓉，天然去雕饰”的自然美之中。</a>
                            </p>
                            <br>
                            <ul class="right1">
                                <li><i class="fa fa-eye"></i>&nbsp;<small>100</small></li>
                                <li><i class="fa fa-calendar"></i>&nbsp;<small>2020-06-29</small></li>
                                <li><i class="fa fa-user-circle">&nbsp;<small>刘飞</small></i></li>
                                <li><i class="fa fa-tag" aria-hidden="true">&nbsp;<small><a href="javascript:;"
                                                                                            class="text-success">人民日报</a></small></i>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="media mb-4 border-bottom">
                        {#                        <img width="100" src="/static/image/dufu.jpg" alt="" class="mr-3">#}
                        <div class="media-body">
                            <h6 class="mt-0 mb-2"><a href="javascript:;" class="font-weight-bold"><i
                                    class="fa fa-hand-o-right" aria-hidden="true"></i>&nbsp;唐代诗人：杜甫</a></h6>
                            <p><a href="javascript:;" class="text-dark">在杜甫中年因其诗风沉郁顿挫，忧国忧民，杜甫的诗被称为“诗史”。他的诗词以古体，律诗见长，风格多样，以“沉郁顿挫”四字准确概括出他自己的作品风格，而以沉郁为主。</a>
                            </p>
                            <br>
                            <ul class="right1">
                                <li><i class="fa fa-eye"></i>&nbsp;<small>100</small></li>
                                <li><i class="fa fa-calendar"></i>&nbsp;<small>2020-06-29</small></li>
                                <li><i class="fa fa-user-circle">&nbsp;<small>刘飞</small></i></li>
                                <li><i class="fa fa-tag" aria-hidden="true">&nbsp;<small><a href="javascript:;"
                                                                                            class="text-success">人民日报</a></small></i>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="media mb-4 border-bottom">
                        <img width="100" src="/static/image/liqingzhao.jpg" alt="" class="mr-3">
                        <div class="media-body">
                            <h6 class="mt-0 mb-2"><a href="javascript:;" class="font-weight-bold"><i
                                    class="fa fa-hand-o-right" aria-hidden="true"></i>&nbsp;宋代词人：李清照</a></h6>
                            <p><a href="javascript:;" class="text-dark">李清照出生于书香门第，早期生活优裕，其父李格非藏书甚富，她小时候就在良好的家庭环境中打下文学基础。所作词，前期多写悠闲生活，后期多悲叹身世，情调伤感。</a>
                            </p>
                            <br>
                            <ul class="right1">
                                <li><i class="fa fa-eye"></i>&nbsp;<small>100</small></li>
                                <li><i class="fa fa-calendar"></i>&nbsp;<small>2020-06-29</small></li>
                                <li><i class="fa fa-user-circle">&nbsp;<small>刘飞</small></i></li>
                                <li><i class="fa fa-tag" aria-hidden="true">&nbsp;<small><a href="javascript:;"
                                                                                            class="text-success">人民日报</a></small></i>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            {% endblock %}
        {% endblock %}
    </div>
    {#    右侧内容#}
    <div class="col-12 col-lg-3 mt-3 border-left px-5">
        {% block right %}
            {# 推荐文章 #}
            {% block right_tj %}
                <h6 class="mt-1 font-italic font-weight-bolder">热门推荐&nbsp;&nbsp;<span
                        class="fa fa-fire text-danger"></span></h6>
                <hr>
                <ul class="list-unstyled mt-1">
                    <li class="media mb-1">
                        <div class="media-body">
                            <h6 class="mt-0"><a href="javascript:;" class="font-weight-bold"><span
                                    class="text-danger font-italic">1&nbsp;&nbsp;</span>&nbsp;唐代诗人：李白唐代诗人：李白</a></h6>
                        </div>
                    </li>
                    <li class="media mb-1">
                        <div class="media-body">
                            <h6 class="mt-0"><a href="javascript:;" class="font-weight-bold"><span
                                    class="text-danger font-italic">2&nbsp;&nbsp;</span>&nbsp;唐代诗人：杜甫</a></h6>
                        </div>
                    </li>
                    <li class="media mb-1">
                        <div class="media-body">
                            <h6 class="mt-0"><a href="javascript:;" class="font-weight-bold"><span
                                    class="text-danger font-italic">3&nbsp;&nbsp;</span>&nbsp;宋代词人：李清照</a></h6>
                        </div>
                    </li>
                    <li class="media mb-1">
                        <div class="media-body">
                            <h6 class="mt-0"><a href="javascript:;" class="font-weight-bold"><span
                                    class="text-danger font-italic">1&nbsp;&nbsp;</span>&nbsp;唐代诗人：李白唐代诗人：李白</a></h6>
                        </div>
                    </li>
                    <li class="media mb-1">
                        <div class="media-body">
                            <h6 class="mt-0"><a href="javascript:;" class="font-weight-bold"><span
                                    class="text-danger font-italic">2&nbsp;&nbsp;</span>&nbsp;唐代诗人：杜甫</a></h6>
                        </div>
                    </li>
                    <li class="media mb-1">
                        <div class="media-body">
                            <h6 class="mt-0"><a href="javascript:;" class="font-weight-bold"><span
                                    class="text-danger font-italic">3&nbsp;&nbsp;</span>&nbsp;宋代词人：李清照</a></h6>
                        </div>
                    </li>
                    <li class="media mb-1">
                        <div class="media-body">
                            <h6 class="mt-0"><a href="javascript:;" class="font-weight-bold"><span
                                    class="text-danger font-italic">1&nbsp;&nbsp;</span>&nbsp;唐代诗人：李白唐代诗人：李白</a></h6>
                        </div>
                    </li>
                    <li class="media mb-1">
                        <div class="media-body">
                            <h6 class="mt-0"><a href="javascript:;" class="font-weight-bold"><span
                                    class="text-danger font-italic">2&nbsp;&nbsp;</span>&nbsp;唐代诗人：杜甫</a></h6>
                        </div>
                    </li>
                    <li class="media mb-1">
                        <div class="media-body">
                            <h6 class="mt-0"><a href="javascript:;" class="font-weight-bold"><span
                                    class="text-danger font-italic">3&nbsp;&nbsp;</span>&nbsp;宋代词人：李清照</a></h6>
                        </div>
                    </li>
                </ul>
            {% endblock %}
            {# 猜你喜欢 #}
            {% block right_guess %}
                <h6 class="mt-1 font-italic font-weight-bolder">猜你喜欢&nbsp;&nbsp;<span
                        class="fa fa-fire text-primary"></span></h6>
                <hr>
                <ul class="list-unstyled mt-1">
                    <li class="media mb-1">
                        <div class="media-body">
                            <h6 class="mt-0"><a href="javascript:;" class="font-weight-bold"><span
                                    class="text-danger font-italic">1&nbsp;&nbsp;</span>&nbsp;唐代诗人：李白唐代诗人：李白</a></h6>
                        </div>
                    </li>
                    <li class="media mb-1">
                        <div class="media-body">
                            <h6 class="mt-0"><a href="javascript:;" class="font-weight-bold"><span
                                    class="text-danger font-italic">2&nbsp;&nbsp;</span>&nbsp;唐代诗人：杜甫</a></h6>
                        </div>
                    </li>
                    <li class="media mb-1">
                        <div class="media-body">
                            <h6 class="mt-0"><a href="javascript:;" class="font-weight-bold"><span
                                    class="text-danger font-italic">3&nbsp;&nbsp;</span>&nbsp;宋代词人：李清照</a></h6>
                        </div>
                    </li>
                    <li class="media mb-1">
                        <div class="media-body">
                            <h6 class="mt-0"><a href="javascript:;" class="font-weight-bold"><span
                                    class="text-danger font-italic">1&nbsp;&nbsp;</span>&nbsp;唐代诗人：李白唐代诗人：李白</a></h6>
                        </div>
                    </li>
                    <li class="media mb-1">
                        <div class="media-body">
                            <h6 class="mt-0"><a href="javascript:;" class="font-weight-bold"><span
                                    class="text-danger font-italic">2&nbsp;&nbsp;</span>&nbsp;唐代诗人：杜甫</a></h6>
                        </div>
                    </li>
                    <li class="media mb-1">
                        <div class="media-body">
                            <h6 class="mt-0"><a href="javascript:;" class="font-weight-bold"><span
                                    class="text-danger font-italic">3&nbsp;&nbsp;</span>&nbsp;宋代词人：李清照</a></h6>
                        </div>
                    </li>
                    <li class="media mb-1">
                        <div class="media-body">
                            <h6 class="mt-0"><a href="javascript:;" class="font-weight-bold"><span
                                    class="text-danger font-italic">1&nbsp;&nbsp;</span>&nbsp;唐代诗人：李白唐代诗人：李白</a></h6>
                        </div>
                    </li>
                    <li class="media mb-1">
                        <div class="media-body">
                            <h6 class="mt-0"><a href="javascript:;" class="font-weight-bold"><span
                                    class="text-danger font-italic">2&nbsp;&nbsp;</span>&nbsp;唐代诗人：杜甫</a></h6>
                        </div>
                    </li>
                    <li class="media mb-1">
                        <div class="media-body">
                            <h6 class="mt-0"><a href="javascript:;" class="font-weight-bold"><span
                                    class="text-danger font-italic">3&nbsp;&nbsp;</span>&nbsp;宋代词人：李清照</a></h6>
                        </div>
                    </li>
                </ul>
            {% endblock %}
            {# 标签云 #}
            {% block right_bqy %}
                <h6 class="bqy mt-4">标签云</h6>
                <div class="border bg-light">
                    <a href="javascript:;" class="badge badge-info mx-2 my-1 text-center">人民日报</a>
                    <a href="javascript:;" class="badge badge-info mx-2 my-1 text-center">人民日报</a>
                    <a href="javascript:;" class="badge badge-info mx-2 my-1 text-center">人民日报</a>
                    <a href="javascript:;" class="badge badge-info mx-2 my-1 text-center">人民日报</a>
                    <a href="javascript:;" class="badge badge-info mx-2 my-1 text-center">人民日报</a>
                    <a href="javascript:;" class="badge badge-info mx-2 my-1 text-center">人民日报</a>
                    <a href="javascript:;" class="badge badge-info mx-2 my-1 text-center">人民日报</a>
                    <a href="javascript:;" class="badge badge-info mx-2 my-1 text-center">人民日报</a>
                    <a href="javascript:;" class="badge badge-info mx-2 my-1 text-center">人民日报</a>
                    <a href="javascript:;" class="badge badge-info mx-2 my-1 text-center">人民日报</a>
                    <a href="javascript:;" class="badge badge-info mx-2 my-1 text-center">人民日报</a>
                    <a href="javascript:;" class="badge badge-info mx-2 my-1 text-center">人民日报</a>
                    <a href="javascript:;" class="badge badge-info mx-2 my-1 text-center">人民日报</a>
                    <a href="javascript:;" class="badge badge-info mx-2 my-1 text-center">人民日报</a>
                    <a href="javascript:;" class="badge badge-info mx-2 my-1 text-center">人民日报</a>
                </div>
            {% endblock %}
        {% endblock %}
    </div>

</div>
<div class="jumbotron text-center text-sm-center text-xl-center text-lg-center"
     style="margin-bottom:0;margin-top: 20px">
    备案号：<a href="http://www.beian.miit.gov.cn" target="_blank">豫ICP备19019414号</a>
</div>
<!--引入js文件-->
{#<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>#}
<script src="/static/js/jquery-3.4.1.min.js"></script>
<script src="/static/js/Popper.js"></script>
<!--Bootstrap核心JavaScript文件-->
{#<script src="https://cdn.bootcss.com/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>#}
<script src="/static/bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>
{#自定义js文件#}
<script src="/static/js/base.js"></script>
</body>
</html>