<div id="template1">
    <div class="row">
        <div class="col-10 text-center">
            <img src="/static/image/user_1.jpg"
                 alt="userPhoto"
                 class="img-fluid p-2 border">
            {#                        <hr>#}
            <h5 class="mt-3 shadow-sm">刘飞</h5>
            <p>Python开发工程师、爬虫工程师</p>
            <div class="card border-dark text-white bg-dark">
                <div class="card-header border-success text-success">擅长的技能</div>
                <div class="card-body">
                    <p class="card-text">
                        Python、Django、Scrapy、Selenium、Requests、bootstrap、MySQL、SqlServer</p>
                </div>
            </div>
            <div class="card border-info text-white mt-5 bg-dark">
                <div class="card-header border-info text-info">熟悉的技能</div>
                <div class="card-body">
                    <p class="card-text">
                        Numpy、Pandas、Matplotlib、Seaborn、Pyechart、HTML、CSS、JavaScript、jQuery、Github</p>
                </div>
            </div>
        </div>
        <div class="col-2 mt-2 font-menu text-right">
            <a href="javascript:void(0);" id="a1"><i class="fa fa-bars"></i></a>
        </div>
    </div>
    {#                <div class="margin1">#}
    {#                </div>#}
</div>
<!--        隐藏导航栏-->
<div id="template2" class="d-none">
    <div class="row">
        <div class="col-10">
            <ul class="nav">
                <li class="nav-item">
                    <a href="javascript:;" class="nav-link">
                        <img src="/static/image/qqtx.jpg" alt="" width="40"
                             class="rounded-circle">
                    </a>
                </li>
                <li class="nav-item">
                    <a href="javascript:;" class="nav-link mt-2">qq昵称:此去经年</a>
                </li>
            </ul>
        </div>
        <div class="col-2 mt-2 font-menu text-right">
            <a href="javascript:void(0);" id="a2"><i class="fa fa-times"></i></a>
        </div>
    </div>
    <div class="margin2">
        <div class="ml-5 mt-2">
            {#博主信息#}
            <div class="card bg-light">
                <div class="card-header text-center text-dark">博主信息</div>
                <div class="card-body">
                    <table class="table table-sm table-borderless">
                        <tbody>
                        <tr>
                            <td>出生年月</td>
                            <td>1994-02-22</td>
                        </tr>
                        <tr>
                            <td>QQ号码</td>
                            <td>867940410</td>
                        </tr>
                        <tr>
                            <td>电子邮箱</td>
                            <td>867940410@qq.com</td>
                        </tr>
                        <tr>
                            <td>联系地址</td>
                            <td>广东省深圳市</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            {# 教育经历 #}
            <div class="mt-2">
                <ul class="list-group">
                    <li class="card-header border">
                        <div class="row text-center">
                            <div class="col-12">教育经历</div>
                        </div>
                    </li>
                    <li class="list-group-item list-group-item-warning">
                        <div class="row">
                            <div class="col-4">时间</div>
                            <div class="col-4">学校</div>
                            <div class="col-4">专业</div>
                        </div>
                    </li>
                    <li class="list-group-item list-group-item-info">
                        <div class="row">
                            <div class="col-4">2014/9-2017/7</div>
                            <div class="col-4">河南职业技术学院</div>
                            <div class="col-4">电子信息工程</div>
                        </div>
                    </li>
                    <li class="list-group-item list-group-item-info">
                        <div class="row">
                            <div class="col-4">2017/9-2020/2</div>
                            <div class="col-4">武汉大学继续教育学院</div>
                            <div class="col-4">计算机科学与技术</div>
                        </div>
                    </li>
                </ul>
            </div>
            {# 自我评价 #}
            <div class="card mt-2 text-center">
                <div class="card-header">
                    自我评价
                </div>
                <div class="card-body">
                    本人热爱学习，工作态度严谨认真，责任心强，有很好的团队合作能力。有良好的分析，解决问题的思维。诚实、稳重、勤奋、积极上进，
                    良好的沟通协调组织能力，敏锐的洞察力。
                </div>
            </div>
        </div>
    </div>
</div>